    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin: 0 auto;
}

div{
  margin: 5px;
  padding: 2px;
}



@media screen and (min-width: 772px) {
    div {
        width: 45vw;
        display: inline-block;
    }

    img {
        max-height: 30vh;
        display: inline-block;
    }
}

@media screen and  (min-width: 998px) {
    div {
        width: 30vw;
        display: inline-block;
    }
}



